* , *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    min-width: 30rem;
    height: 100%;
    background-color: rgb(172, 172, 230);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.searchDiv {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    min-width: 22rem;
    background-color: rgba(0, 0, 0, 0.11);
    height: 2rem;
    border-radius: 20px;
    width: 50vw;
    padding: 0 1rem 0 1rem;
    font-size: 1.3rem;
}

#searchBtn {
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    height: 2rem;
    min-width: fit-content;
    margin-left: 1rem;
    font-size: 1.2rem;
}

#search:focus {
    outline: 2px solid rgba(0, 0, 0, 0.39);
}

.location {
    margin-top: 4vh;
    font-size: 3rem;
}

.time {
    font-size: 2rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;

}

.temp {
    font-size: 7rem;
}

.conditions {
    font-size: 1.5rem;
}

.info {
    gap: 2rem;
    display: flex;
    width: 70vw;
    height: 8vh;
    justify-content: center;
}

.humidity , .windspeed, .precipitation {
    box-shadow: 4px 3px 5px 1px rgba(66, 66, 66, 0.459);
    background-color: rgba(18, 18, 82, 0.171);
    display: flex;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.generalOverview {
    font-size: 1.2rem;
}

.location, .time, .icon, .temp, .conditions, .info , .generalOverview {
    text-align: center;
    min-width: 30rem;
}

